/* Main CSS */

.NavBar {
    height:40px;
}

.QuickShortcuts {
    float:right;
    list-style:none;
}

.GoogleApps {
    float:right;
}

.SignIn {
    float:right;
}

.shortcutitems {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}

.GoogleLogo {
    margin-top:110px;
    padding-left:42%;

}

.search-bar {
    margin-top:10px;
    padding-top:40px;   
    padding-left:35%;
    width:100px;
}

.search-bar-text {
    width:550px;
    border-radius:20px;
    height:40px;
}

.search-button {
 
    padding-left:35%
}

.FooterLower {
    height:50px;
}

.FooterLeft {
    float:left;
}

.FooterRight {
    float:right;
}

.FooterLowerLeft {
    float:left;
}

.FooterLowerRight {
    float:left;
}